.head1{
    text-align: center;
    font-family: "Playfair Display", serif;
}

.head2{

    font-family: "Bokor", system-ui;
}

.head3{


    font-family: "Edu AU VIC WA NT Arrows", cursive;
    color: rgb(252, 252, 252);
    background-color: rgb(20, 1, 1);
    
    
}
.box{
    text-align: center;
    font-family: "Playfair Display", serif;
}

.Padd{

    background-color: aqua;
    padding-left: 20px;
    padding-top: 20px;
    margin: 50px;
    /* border: 13px double rgb(228, 7, 18);   */
     /* border-radius: 50px;  */
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 5px 3px 3px 5px red;
    
}
.Padd button{

    padding: 8px 5px;
    color:red;
    background-color: navy;
}