#Head1{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 0, 200);
    text-decoration: underline;
    background-color: rgb(11, 241, 126);
    text-decoration-color: rgb(243, 4, 4);
    text-decoration-style: wavy;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Para1{
    font-weight: bold;
}
#head2{
    text-shadow: 2px 2px 1px red;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize; 
    text-decoration: underline;
    text-decoration-style: dotted;


}

.container{
    background-color: aqua;
    
    
}

.container h1{
    text-align: center;
    background-color: rgb(12, 230, 230);
}

.container p{
    
        text-align: center;
        background-color: rgb(138, 187, 228);
}